@use '../base/colors' as *;

.main {
  @apply flex items-center justify-center h-screen;
  margin: 0;
  background: $lighter-green;

  .container {
    @apply max-w-[56rem] w-full h-screen;
    background: $white;

    &__memories {
      @apply flex flex-col items-start justify-start;

      .memories {
        @apply w-full h-full;
        padding: 1rem 2rem;

        &__title {
          font-size: 0.875rem;
          font-weight: 700;
          font-family: "Geist", sans-serif;
          color: $green;
        }

        &__list {
          @apply flex flex-row items-start justify-start overflow-x-auto flex-nowrap;
          gap: 1rem;
          margin-top: 1rem;

          .memory {
            @apply max-w-[24rem] min-w-[16rem] w-full;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            background: $dark-green;

            .memory__location,
            .memory__title,
            .memory__category,
            .memory__description,
            .memory__likes,
            .memory__createdAt {
              @apply w-fit;
              font-family: "Geist", sans-serif;
              font-size: 0.875rem;
              font-weight: 400;
              color: $light-green;
              padding: 0.5rem 0;
            }

            .memory__location,
            .memory__category,
            .memory__description {
              font-size: 0.975rem;
              padding: 0.25rem 0 0.75rem;
              color: $green;
            }

            .memory__title {
              font-size: 1.25rem;
            }

            .selector {
              @apply flex justify-between items-center;
            }
          }
        }
      }
    }

    &__info {
      @apply flex items-center justify-between;
      padding: 2rem;

      .avatar {
        @apply max-w-full w-1/5 h-auto aspect-square object-cover rounded-full;
      }

      .context {
        @apply w-full h-full;
        padding: 0 2rem;

        &__name {
          font-size: 2rem;
          font-weight: 400;
          font-family: "Geist", sans-serif;
          color: $dark-green;
        }

        &__bio {
          padding: 1rem 0;

          .bio__title {
            font-size: 0.875rem;
            font-weight: 700;
            color: $green;
            font-family: "Geist", sans-serif;
          }

          .bio__text {
            padding: 0.5rem 0;
            font-size: 0.975rem;
            font-weight: 400;
            color: $dark-green;
            font-family: "Geist", sans-serif;
          }
        }
      }
    }
  }
}